@import "mainstyles.css";

.app {
  background-color: var(--background-light);
  /* min-height: 100vh;  dont need this */
  color: var(--font-color-light);
  font-size: 16px;
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6, p {
  color: #495057;
}
