:root {
    /* Global colours */
    --background-dark: #12142C;
    --background-light: #B5BBFF;
    --pink: #EF3BFF;
    --blue: #5335E8;
    --purple: #5b5e80;
    --red: #CB0202;

    /* Global fonts */
    --font-header:'Damion', cursive;
    --font-body: 'Roboto', sans-serif;
    --font-color-light: #FFFFFF;
    --font-size-8: 48px;
    --font-size-7: 40px;
    --font-size-6: 36px;
    --font-size-5: 30px;
    --font-size-4: 24px;
    --font-size-3: 20px;
    --font-size-2: 16px;
    --font-size-1: 8px;

    --sidebar-size: 200px;
}
