@import "../../../../mainstyles.css";

.edit-form-wrapper {
    min-width: 700px;
    border: var(--red) solid 1px;
    border-radius: 10px;
    padding: 10px;
}

.form-row {
    margin-bottom: 10px;
}

.form-title {
    font-weight: bold;
    font-size: var(--font-size-4);
    color: var(--red);
}

.form-label {
    font-weight: bold;
    color: var(--red);
}

.required-text {
    color: var(--red);
}

.form-input {
    width: 100%;
    background-color: var(--background-dark);
    border: none;
    border-bottom: var(--red) dashed 1px;
    color: white;
}

.form-input:focus {
    outline: none;
    border-bottom: var(--red) solid 1px;
}