@import '../../../../mainstyles.css';


 /* NEED TO find a better way to override default than !important */
.navbar-brand {
    font-family: var(--font-header);
    font-size: var(--font-size-5) !important;
    transition: 0.1s;
}

/*.navbar-brand:hover {*/
/*    !* font-size: var(--font-size-7) !important; *!*/
/*    margin-left: 3px;*/
/*    cursor: pointer;*/
/*}*/

.nav-link {
    margin-left: 20px;
}

#basic-nav-dropdown {
    color: white;
}

/*.navItem:hover {*/
/*    !* filter: brightness(10%) saturate(10); *!*/
/*    margin-right: 3px;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/
/*}*/

.sign-out {
    font-family: var(--font-body);
    color: #fff;
    font-size: var(--font-size-2) !important;
}