@import '../../../../mainstyles.css';

.logo {
    font-family: var(--font-header);
    color: var(--font-color-light);
    font-size: var(--font-size-8);
    margin-bottom: 50%;
}

#selected {
    filter: brightness(50%) sepia(1) hue-rotate(309deg) saturate(10);
    pointer-events: none;
}

.icon {
    margin-right: 5px;
    height: 30px;
}

.nav-selection {
    font-family: var(--font-body);
    font-size: var(--font-size-3);
    color: var(--font-color-light);
    margin-bottom: 10px;
}

.nav-selection:hover {
    filter: brightness(50%) sepia(1) hue-rotate(180deg) saturate(10);
    cursor: pointer;
}

.bottom {
    margin-bottom: 50%;
}

.center-align {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}