@import '../../../../mainstyles.css';

.logo {
    font-family: var(--font-header);
    color: var(--font-color-light);
    font-size: var(--font-size-large);
    margin-bottom: 50%;
}

#selected {
    color: red;
    pointer-events: none;
}

.nav-selection {
    font-family: var(--font-body);
    font-size: var(--font-size-medium);
    color: var(--font-color-light);
}

.nav-selection:hover {
    color: blue;
    cursor: pointer;
}

.bottom {
    margin-bottom: 50%;
}

.center-align {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}