
.edit-title {
    font-size: var(--font-size-8);
    font-family: var(--font-body);
    margin-bottom: 10px;
}

/* monospace font list from https://stackoverflow.com/a/2032658 */
.lick-tab-field {
    width: 100%;
    background-color: lightsteelblue;
    height: 300px;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,monospace;
}