.lick-tab-field {
    width: 100%;
    background-color: white;
    border-color: grey;
    border-radius: 5px;
    border-width: 1px;
    height: 180px;
    font-family: "Lucida Console", "Courier New", monospace;
    white-space: nowrap;
    padding-top: 5px;
    padding-left: 10px;
}

#play-button, #pencil-icon, #trash-icon, #download-icon {
    transition: 0.1s;
}

#play-button:hover  {
    transform: scale(1.02);
}

#pencil-icon:hover, #trash-icon:hover, #download-icon:hover {
    transform: scale(1.1);
}

#lick-url-display {
    margin-bottom: 0px;
}

::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    background-color: transparent; /* make scrollbar transparent */
    display: none;
}

::-webkit-scrollbar {
    /*width: 0px;*/
    /*background-color: white; !* make scrollbar transparent *!*/
}

/*.unshare-button:hover {*/
/*    cursor: pointer;*/
/*}*/

.unshare-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.1s;
}