@import "../../../mainstyles.css";

.share-form-wrapper {
    min-width: 100%;
    border: var(--red) solid 1px;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
}

.share-form-title {
    font-weight: bold;
    font-size: var(--font-size-4);
    color: var(--red);
}

.share-text {
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--red);
}

.share-name {
    display: flex;
    align-items: center;
}
