@import "../../../mainstyles.css";

.upload-panel {
    height: 30em;
    width: 40em;
}

.loading {
    font-size: var(--font-size-8);
    font-family: var(--font-header);
}

.failed {
    font-size: var(--font-size-8);
    font-family: var(--font-header);
}

.retry-discard-buttons {
    font-size: var(--font-size-8);
    font-family: var(--font-body);
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}