/* need to find out how to delete this later */

/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: red;
    color: white;
    text-align: center;
} */

.footer {
    background-color: lightgray;
}