@import "../../../mainstyles.css";

.createPageBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.recordButton {
    width: 128px;
}

.uploadButton {
    width: 196px;
}

.OrIcon {
    width: 400px;
}

#upload {
    display: none;
}