@import "../../../mainstyles.css";

.createPageBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button:hover {
    filter: saturate(2);
}

.recordButton {
    width: 128px;
}

.uploadButton {
    width: 196px;
}

.OrIcon {
    width: 400px;
}

#upload {
    display: none;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}