@import "../../../mainstyles.css";

.recordPageBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button:hover {
    filter: saturate(2);
}

.recordButton {
    width: 128px;
}

.timer {
    margin-left: auto;
    margin-right: auto;
}

.stopButton {
    margin: 10%;
}

.countdown {
    font-size: 500%;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}