@import "../../../mainstyles.css";

.login-panel {
    height: 30em;
    width: 40em;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.google-button {
    max-width: 220px;
}