@import '../../../../mainstyles.css';


 /* NEED TO find a better way to override default than !important */
.navbar-brand {
    font-family: var(--font-header);
    font-size: var(--font-size-5) !important;
    transition: 0.1s;
}
.nav-link {
    margin-left: 20px;
}

#basic-nav-dropdown {
    color: white;
    background: rgb(117, 169, 249);
}

.sign-out {
    font-family: var(--font-body);
    color: #fff;
    font-size: var(--font-size-2) !important;
}

a.nav-link.active {
    background-color: white !important;
    color: rgb(117, 169, 249) !important;
}