@import '../../../../mainstyles.css';

.topbarRow {
    padding-top: 4px;
}

.accountInfo {
    position: absolute;
    bottom: 16px;
    font-size: var(--font-size-small);
}

.toolSelection {
    font-size: var(--font-size-medium);
    font-family: var(--font-header);
    text-align: center;
}

.logo {
    font-family: var(--font-header);
    color: var(--font-color-light);
    font-size: var(--font-size-large);
}

.selected {
    width: 70px;
    border-bottom: 3px solid var(--red);
    
}
