@import "../../../mainstyles.css";

.library-title {
    font-size: var(--font-size-8);
    font-family: var(--font-body);
    margin-bottom: 10px;
}

.library-table-wrapper {
    width: 60%;
    height: 60vh;
}
