@import "../../../mainstyles.css";

.menu {
    font-size: var(--font-size-8);
    font-family: var(--font-body);
    margin-bottom: 10px;
}

.library-table-wrapper {
    width: 60%;
    height: 60vh;
}

.nav {
    /* margin-top: 20px; */
}

.col {
    display: flex;
    justify-content: center;
}

.recordIcon:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.uploadIcon:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.dateUploaded {
    font-size: var(--font-size-1);
    float: right;
    margin-bottom: 10px;
}

.dropdown-item.active {
    background-color: grey !important;
    opacity: 0.8;
}

.lick-display-control.row {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.card.lick-card {
    width: 18rem;
    margin-top: 25px;
    transition: .2s;
    border-color: #ced4da;
}

.card.lick-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

}

.form-check.check-lick {
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]{
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
}

.lick-length {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#sharedWithSelected {
    border-radius: 50%;
    transition: 0.3s;
}
#sharedWithSelected:hover {
    background-color: rgb(198, 198, 198);
    border-radius: 50%;
}

#deleteSelected {
    border-radius: 50%;
    transition: 0.3s;
}
#deleteSelected:hover {
    background-color: rgb(198, 198, 198);
    border-radius: 50%;
}

